.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
}

.rounded-card.card-expansion {
  height: 480px;
}

.md-toolbar {
  box-shadow: 0 7px 45px -10px rgba(67, 137, 255, 1) !important;
  border-radius: 20px !important;
  margin: 25px !important;
}

.rounded-card.md-card {
  width: 300px;
  margin: 10px 5px 10px 5px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.6) !important;
}


.rounded-card.md-card:hover {
  transform: scale(1.02) !important;
  transition-duration: 1s !important;
  box-shadow: 0 7px 45px -10px rgba(150, 170, 180, 0.7) !important;
}

img,
.rounded-card,
.rounded-card.md-card-media {
  border-radius: 20px !important;
}

.md-card-expand {
  border-radius: 0px 0px 20px 20px;
}

.donation-chip {
  float: right;
}