@font-face {
  font-family: "archiaregular";
  src: url("../fonts/archia-regular-webfont.eot");
  src: url("../fonts/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/archia-regular-webfont.woff2") format("woff2"),
    url("../fonts/archia-regular-webfont.woff") format("woff"),
    url("../fonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
 font-family: "archiaregular"; 
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
}

.rounded-card.card-expansion {
  height: 480px;
}

.md-toolbar {
  box-shadow: 0 7px 45px -10px rgba(67, 137, 255, 1) !important;
  border-radius: 20px !important;
  margin: 25px !important;
}

.rounded-card.md-card {
  width: 300px;
  margin: 10px 5px 10px 5px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.6) !important;
}

.rounded-card.md-card:hover {
  box-shadow: 0 7px 45px -10px rgba(150, 170, 180, 0.75) !important;
} 

img,
.rounded-card,
.rounded-card.md-card-media {
  border-radius: 20px !important;
}

.md-card-expand {
  border-radius: 0px 0px 20px 20px;
}

.donation-chip {
  float: right;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}